*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F9F8F4; 
}

.container-inside{
    margin: 25px;
}

.heading h1{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
}

.heading a{
    text-decoration: none;
    font-size: 10px;
    color: black;
}

.icons-Box{
    margin-top: 30px;
}

.clickable-icons{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
}

.clickable-icons button{
    border: none;
    background-color: #F9F8F4;
}

.one ,.five, .six{
    color: red;
    margin-bottom: 0px;
    }
    
    .two, .four{
        color:blue;
    }
    
    .three{
        color: green;
    }

    .toggle-btns{
        display: flex;
    }
    .btn-one-blue button{
        background-color: rgb(41, 41, 143);
        font-size: 12px;
        color: #ffff;
        padding: 6px 20px;
        border: none;
        border-radius: 10px 0px 0px 0px;
    }

    .btn-one-white button{
        background-color: #ffff;
        font-size: 12px;
        color: rgb(41, 41, 143);
        padding: 6px 20px;
        border: none;
        border-radius: 0px 10px 0px 0px;
    }

    .btn-two-blue button{
        background-color: rgb(41, 41, 143);
        font-size: 12px;
        color: #ffff;
        padding: 6px 20px;
        border: none;
        border-radius: 0px 10px 0px 0px;
    }

    .btn-two-white button{
        background-color: #ffff;
        font-size: 12px;
        color: rgb(41, 41, 143);
        padding: 6px 20px;
        border: none;
        border-radius: 10px 0px 0px 0px;
    }
   
.table-one{
    background-color: #ffff;
    padding: 15px;
    box-shadow: 0px 0px 2px 1px #eaecec;
    margin:0px 0px 20px 0px;
}

.table-one p{
    font-size: 12px;
    font-weight: bold;
}

 .creditStatus{
    display: inline-block;
}
.greenText{
    color: rgb(79, 224, 79) !important;
    font-weight: bold;
}

.bigtext {
    font-size: 14px !important;
    color: rgb(49, 49, 175);
}

.table-one span{
    color: #9B9F9F;
    font-size: 12px;
    font-weight: lighter;
}

.green-btn{
    padding: 3px 8px;
    font-size: 10px;
    border-radius:20px;
}

.Doc-status, .SO-status{
    margin-bottom: 0px;
}

table{
    background-color: #ffff;
    box-shadow: 0px 0px 2px 1px #eaecec;
}

table tr th{
    font-size: 12px;
    border-top: 1px solid #eaecec;
    border-left: 1px solid #eaecec;
    border-right: 1px solid #eaecec;
    border-bottom: none; 
}

 th{
    background-color:#E9F8F8 !important;
 }

table tr td{
    font-size: 12px;
}

.table-btn{
    background-color:#ffff;
    font-size: 8px;
    font-weight: bold;
    color: #05802a;
    border: 2px solid #05802a;
    border-radius: 25px;
    padding:0px 15px;
    margin-left: 8px;
}

.table-two{
    margin-bottom:0px;
}

.hovertext::before,
.hovertext::after{
    position: absolute;
    transform: translateX(-50%) translateY(-100%); 
    display: none;
}

.hovertext::before{
    content:attr(data-tooltip);
    background-color: rgb(81, 61, 194);
    padding: 5px;
    border-radius: 50px;
    /* opacity: 0.5; */
    color: white;
    width: max-content;
    text-align: center;
}

.hovertext:hover:before{
    display: block;

}

.hovertext{
    cursor: pointer;
}

.footer{
    position:relative;
    height:300px;
    padding: 15px;
    margin:0px 0px 20px 0px;
    box-shadow: 0px 0px 2px 1px #eaecec;
    background-color:#ffff
}

.footer img{
    width:50px;
    position: absolute;
    bottom: 8px;
    right: 0px;

}






          

      
      

